.header1 {
    position: fixed;   /* Stays in place while scrolling */
    top: 0;           /* Sticks to the top */
    left: 0;
    width: 100%;      /* Full width */
  	background:transparent; /* Add background to prevent text from overlapping */
  /* Ensures it's above other content */
    padding: 10px 0;
    margin-bottom:0px;
}

.main-nav {
    list-style: none;
    display: flex;
    justify-content: center; /* Centers the menu items */
    padding: 0;
    margin: 0;
    background:transparent;
}

.main-nav li {
    margin: 0 15px;
    background:transparent;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    background:transparent;
    font-size: 18px;
}
